/* General and reset */

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    border-top: 4px solid #0089cf;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

div.warp {
    padding: 0;
    margin: 0;
}

li:hover a {
    color: #0d2d3c;
}


/* Header menu*/

nav img {
    display: block;
    padding: 1rem;
    margin: 1rem;
}

.header-menu li {
    list-style: none;
    width: 100%;
    position: relative;
}

ul.header-menu {
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
}

li a {
    text-decoration: none;
    color: #0089cf;
    margin: 0;
    font-size: 1rem;
    padding-left: 2rem;
}

a.is-active {
    color: #0d2d3c;
}

.header-menu li a::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #c0c0c0;
    position: absolute;
}


/* Header phone*/

nav {
    position: relative;
}

div.phone-num {
    display: inline-block;
    color: #000;
    margin-bottom: 5rem;
    margin-right: 2rem;
    font-size: 1rem;
    right: 0;
    position: absolute;
    top: 14rem;
}

div.phone-num a {
    color: #000;
    text-decoration: none;
}


/* Header banner*/

header img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* We are compact */

div.compact-text {
    padding: 1rem 2rem;
}

div.compact-text h1 {
    position: relative;
    display: inline-block;
}

div.compact-text p {
    margin-right: 1rem;
}

div.compact-text h1::before {
    content: "";
    width: 1.4rem;
    height: 3px;
    bottom: 0rem;
    background-color: #000;
    position: absolute;
    animation-name: test1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes test1 {
    0% {
        width: 1.4rem;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 1.4rem;
    }
}


/* Derniers articles */

article {
    background-color: #0089cf;
    color: #FFF;
    margin-top: 0;
}

div.articles-text {
    padding: 0.2rem 2rem;
}

div.articles-text h1 {
    display: inline-block;
    position: relative;
}

div.articles-text h1::before {
    display: inline-block;
    content: "";
    width: 1.5rem;
    height: 3px;
    bottom: 0rem;
    background-color: #FFF;
    position: absolute;
    animation-name: test1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


/* Mobile ready */

.aside-table {
    border: 1px solid #c0c0c0;
    padding: 1rem;
    margin: 1rem;
}

.aside-table h2,
.aside-table p {
    text-align: center;
}

.aside-table h2 {
    font-size: 1.8rem;
}

p.pas-propre {
    padding-bottom: 1rem;
}

div.aside-table i {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 3rem;
}


/* Footer */

footer {
    background-color: #374f5a;
    color: #FFF;
    margin: 0;
    padding: 0;
}

footer h2,
footer p {}

footer h2 {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
}

footer p {
    padding: 0 2rem 0 1rem;
    margin: 0;
    margin-bottom: 2rem
}

div.resume span {
    margin-left: 1rem;
}

i.social-icon {
    /* Social icon */
    margin: 0.1rem;
    background: #0089cf;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
    padding: 0;
}

ul.cat-menu {
    margin: 0;
    padding: 0;
}

.cat-menu li {
    list-style: none;
}

.cat-menu li a {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.footer-end-page p {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #000;
    margin: 0;
}

.newsletter form {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.email-form {
    color: #6d6d6d;
    font-size: 0.6rem;
    padding: 0.4rem;
}

.submit-button {
    background-color: #0089cf;
    border-radius: 0.2rem;
    border: none;
    padding: 0.4rem;
    color: #FFF;
    font-size: 0.7rem;
}

li:hover a {
    color: #0d2d3c;
}


/* Media querry tablet */

@media screen and (min-width: 720px) {
    div.warp {
        width: 720px;
        max-width: 720px;
        margin: 0 auto;
    }
    nav {
        position: relative;
    }
    nav img {
        display: inline-block;
        padding: 1rem;
        margin: 1rem;
        width: 160px;
        height: auto;
        float: left;
    }
    div.compact-text {
        padding: 0 1rem;
        font-size: 0.8rem;
    }
    .header-menu li a::before {
        display: none;
    }
    ul.header-menu {
        display: block;
        padding-top: 4rem;
        position: relative;
    }
    .header-menu li,
    .header-menu a {
        display: inline-block;
    }
    .header-menu a {
        padding: 0 1rem 0 0;
    }
    .header-menu li {
        width: auto;
    }
    div.phone-num {
        display: inline-block;
        float: right;
        top: 4.2rem;
        right: 1rem;
        position: absolute;
    }
    p.pas-propre2 {
        padding-bottom: 2rem;
    }
}


/* tablet */


/* Media querry desktop */

@media screen and (min-width: 960px) {
    div.warp {
        width: 1130px;
        max-width: 1130px;
        margin: 0 auto;
        width: 100%
    }
    img.article-img {
        width: 500px;
        height: auto;
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
    }
    div.footer-warp {
        max-width: 1130px;
        margin: 0 auto;
    }
    img.isl-head-banner {
        max-width: none;
        width: 100vw;
        margin-left: calc(-1 * ((100vw - 100%) / 2));
        margin-right: calc(-1 * ((100vw - 100%) / 2));
    }
    span.social-icons {
        display: inline-block;
        margin-bottom: 1rem;
    }
}